<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXR4X6PKoUNixGzfcFZ5N1DEzn1F8-5pw</string>
	<key>GCM_SENDER_ID</key>
	<string>479308506065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.masProgramming1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>masprogramming1</string>
	<key>STORAGE_BUCKET</key>
	<string>masprogramming1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479308506065:ios:a18830f4b55f015c3836f0</string>
</dict>
</plist>